@page "/account/login"
@inherits LoginBase

<h3>
    Login
</h3>

<div>
    <label>UserName</label>
    <InputText @bind-Value="@Model.UserName"></InputText>
</div>
<br/>
<div>
    <label>Password</label>
    <InputText @bind-Value = "@Model.Password"></InputText>
</div>
<button type="submit" class="btn btn-primary" onclick="LoginClicked">Login</button>

@code
{

}