@page "/account/users"
@using Microsoft.AspNetCore.Authorization
@inherits UsersBase
@attribute [Authorize]

@if (Users is not null || Users?.Count > 0)
{
    <table>
        <tr>
            <th>
                FirstName
            </th>
            <th>
                LastName
            </th>
            <th>
                UserName
            </th>
        </tr>
        @foreach(var user in Users)
        {
            <tr>
                <td>
                    @user.FirstName
                </td>
                <td>
                    @user.LastName
                </td>
                <td>
                    @user.UserName
                </td>
            </tr>
        }
    </table>
}

